/* src/components/Reward.css */

body, html {
  margin: 0;
}

.reward-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reward-box {
  border: 2px solid #3498db;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h2 {
  color: #333;
}

h3 {
  border-bottom: 1px solid #3498db;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

p {
  color: #777;
}

.reward-id {
  border-top: 1px solid #3498db;
  padding-top: 5px;
  margin-top: 10px;
  color: #3498db; /* Color for the reward ID */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.claim-button {
  background-color: #8eff8e; /* Light green color for the claim button */
  color: #333; /* Text color for the claim button */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
